



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -moz-box-shadow:$shadow;
  -webkit-box-shadow:$shadow;
  box-shadow:$shadow;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}



@mixin flex-image {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

}



@mixin box-border1($color, $border-radius: 4px) {

  margin: 1px;
  border-radius: $border-radius;
  box-shadow: 0px 0px 1px 0px $color;

}


@mixin box-border2($color, $border-radius: 4px) {

  position: relative;
  border:none;

  //border-radius: $border-radius;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $color;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;

    @media (-webkit-min-device-pixel-ratio: 1) {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      width: 200%;
      height: 200%;
      border-radius: $border-radius * 2;

      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      transform-origin: left top;
    }

  }

}


@mixin box-border3-hairline($color, $side: 'top') {

  position: relative;
  border:none;

  &:after{
    content: '';
    position: absolute;

    background: $color;
    width: 100%;
    height: 1px;

    @if $side == 'top' {
      width: 100%;
      height: 1px;
      top: 0;
    } @else if $side == 'bottom' {
      width: 100%;
      height: 1px;
      bottom: 0;
    } @else if $side == 'left' {
      width: 1px;
      height: 100%;
      left : 0;
    } @else {
      width: 1px;
      height: 100%;
      right : 0;
    }


    @media (-webkit-min-device-pixel-ratio: 2) {
      @if $side == 'top' or 'bottom'{
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
      } @else {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
      }
    }

  }

}
