$assetPath : "/static";


// default color
$color-white:#ffffff;
$color-green:#18aa6b;
$color-web-blue:#00b7ec;








$color-bg-body : #f8f8f8;
$color-form-error : #a94442;




$color-title-article-list1 : #333333;
$color-text-category-article-list1 : #999999;



$color-border-article-list1: #CCCCCC;
