<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= page.title %></title>



    <style>

        html,body {
            margin:0;
            padding:0;
            height: 100%;
        }

        .grid {
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: row

        }
        .col {
            padding: 30px;
        }
        .fluid {
            flex: 1;
            border: 1px solid blue;
        }
        .fixed {
            width: 400px;
            border: 1px solid red;
        }



        .flex-parent {
            width: 300px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: row
        }

        .flex-son{
            border: 1px solid red;
        }

        .flex-son:nth-child(1){
            flex-grow : 0;
            flex-shrink : 0;
            flex-basis : 200px;
        }
        .flex-son:nth-child(2){
            flex: 0 0 200px;
        }
        .flex-son:nth-child(3){
            flex: 0 1 200px;
        }



        .box {
            max-width: 414px;
            height: 480px;
            border: solid #000;
            margin: auto;
            overflow: auto;
        }
        .shape {
            float: left;
            width: 30px;
            height: 340px;
            shape-outside: polygon(0 0, 0 150px, 16px 154px, 30px 166px, 30px 314px, 16px 326px, 0 330px, 0 0);
            transition: shape-outside .15s;
        }
        .liuhai {
            width: 24px;
            height: 180px;
            background: url(http://www.zhangxinxu.com/study/201709/liu.png) no-repeat left center;
            position: absolute;
            margin-top: 150px;
        }
        .content ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .content li {
            border-bottom: 1px solid #eee;
            padding: .5em;
        }





        .details-1 summary {
            width: -moz-fit-content;
            width: fit-content;
            direction: rtl;
        }
        .details-1 ::-webkit-details-marker {
            direction: ltr;
            color: gray;
            margin-left: .5ch;
        }
        .details-1 ::-moz-list-bullet {
            direction: ltr;
            color: gray;
            margin-left: .5ch;
        }




        .divdemo1 {
            width:100px;
            height:100px;
            background:#930;
            margin-bottom:20px;
            border: 1px solid red;
            float: left;
        }

        .divdemo2 {
            width:100px;
            height:100px;
            background:#f30;
            margin-top:20px;
            float: left;
        }


        .divdemoFather {
            overflow: hidden;
            width:100px;
        }


        #parrent{
            width:300px;
            height:150px;
            margin-top: 20px;
            background:teal;
        }
        #box1{
            width:100px;
            height:100px;
            background:aqua;
            margin:100px 0;
            border:1px solid transparent;
        }

    </style>

</head>
<body>




<div class="divdemoFather">
    <div class="divdemo1"></div>
    <div class="divdemo2"></div>
</div>

<div id="parrent">
    <div id="box1">
        我是box1
    </div>
    我是内容
</div>



<div class="flex-parent">
    <div class="flex-son">111</div>
    <div class="flex-son">222</div>
    <div class="flex-son">333</div>
</div>



<div class="grid">
    <div class="col fluid">
        fluid
    </div>
    <div class="col fixed">
        fixed
    </div>
    <div class="col fluid">
        fluid
    </div>
</div>

<div>
    <label for="files" class="btn">Select Image</label>
    <input id="files" style="visibility:hidden;" type="file">
</div>




<div id="box" class="box">
    <i id="shape" class="shape"></i>
    <i class="liuhai"></i>
    <div class="content">
        <ul>
            <li>为了防止看花眼</li>
            <li>我就手动敲下面的文字</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            <li>原本我偷懒</li>
            ...
            <li>理论上还可以使用CSS region实现</li>
            <li>但没有这个方法容易理解</li>
        </ul>
    </div>
</div>




<details open class="details-1">
    <summary>这是摘要1</summary>
    <p>这里具体描述，标签相对随意，例如这里使用的&lt;p&gt;标签。</p>
</details>

<details open>
    <p>如果&lt;summary&gt;缺省，则会自动补上，文案是“详细信息”。</p>
</details>





<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">

    var box = document.getElementsByClassName('flex-parent')[0];

    window.onresize = function (){
        box.children[0].innerHTML = box.children[0].offsetWidth
        box.children[1].innerHTML = box.children[1].offsetWidth
        box.children[2].innerHTML = box.children[2].offsetWidth

        console.log('offsetWidth',box.children[0],  box.children[0].offsetWidth, box.children[1].offsetWidth, box.children[2].offsetWidth)
        console.log('clientWidth', box.children[0].clientWidth, box.children[1].clientWidth, box.children[2].clientWidth)
        console.log('scrollWidth', box.children[0].scrollWidth, box.children[1].scrollWidth, box.children[2].scrollWidth)
    }



    $( document ).ready(function() {
        $("a" ).click(function( event ) {

            alert( "The link will no longer take you to jquery.com" );
            event.preventDefault();
        });


        $.ajax({

            url: "/api/shops",
//            url: "/api/shops",

            // The data to send (will be converted to a query string)
            data: {
                id: 123
            },

            method: "POST",
            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
            dataType : "json", // The type of data we expect back
        })
            .done(function( json ) {
                console.log(json);
            })
            // Code to run if the request fails; the raw request and
            // status codes are passed to the function
            .fail(function( xhr, status, errorThrown ) {
//                alert( "Sorry, there was a problem!" );
                console.log( "Error: " , errorThrown, "Status: " , status );
                console.log( "xhr: " ,xhr );
            });

    });


    var eleShape = document.getElementById('shape');
    var eleBox = document.getElementById('box');

    <!--保证shape元素高度足够 -->
    eleShape.style.height = eleBox.scrollHeight + 'px';

    var funShape = function () {
        var scrollTop = eleBox.scrollTop;
        // 滚动偏移应用在shape-outside上
        var shapeOutside = 'polygon(0 0, 0 '+ (150 + scrollTop) +'px, 16px '+ (154 + scrollTop) +'px, 30px '+ (166 + scrollTop) +'px, 30px '+ (314 + scrollTop) +'px, 16px '+ (326 + scrollTop) +'px, 0 '+ (330 + scrollTop) +'px, 0 0)';
        eleShape.style.shapeOutside = shapeOutside;
    };
    <!-- 滚动时候实时改变shape形状 -->
    eleBox.addEventListener('scroll', funShape);
    funShape();

</script>


</body>
</html>