<template>
    <div>
      <van-cell >

        <template>

          <div class="eyee-list-single1 van-hairline--surround">

            <div class="left-box">
              <div class="picture-box"><img :src="item.coverurl" alt=""> </div>
            </div>

            <div class="right-box">
              <div class="title">{{item.title}} channeltype{{item.channeltype}} type{{item.type}}</div>

              <div class="category">{{item.categoryname}}</div>
              <div class="other-info">
                <span class="publish-time">{{item.publishtime | dateTimeLeft}}</span>
                <!--<em class="ico-read-white"></em>-->
                <em class="ico-read-nums"></em>
                <span class="statistic">{{item.readcount}}</span>
              </div>
            </div>
          </div>
        </template>


      </van-cell>
    </div>
</template>

<script>
  export default {
    name : "new-single1-style",

    props: {
      item: {
        type: Object,
        required: true,
        default: function () {
          return { title: 'hello' }
        }
      },
    },
  }
</script>

