


        <h3 class="mb-4"> 修改密码 - {{currentUser?.username}} - {{currentUser?.mobilePhone}}</h3>

        <form [formGroup]="passwordForm" (ngSubmit)="passwordFormSubmit()" (keydown.enter)="$event.preventDefault()">

            <div class="form-group row">
                <label class="col-2 col-form-label">用户名:</label>
                <div class="col-6">
                    <input type="text" readonly class="form-control-plaintext form-input-readonly" value="{{currentUser?.username}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">手机号:</label>
                <div class="col-6">
                    <input type="text" readonly class="form-control-plaintext form-input-readonly" value="{{currentUser?.mobilePhone}}">
                </div>
            </div>

            <bs-text-input formControlName="oldPassword" [fc]="passwordForm.get('oldPassword')" [type]="'text'" [label]="'原密码:'" [dirty]="ignoreDirty" [error]="passwordFormError.oldPassword"></bs-text-input>
            <bs-text-input formControlName="newPassword" [fc]="passwordForm.get('newPassword')" [type]="'password'" [label]="'新密码:'" [passwordTip]="true" [dirty]="ignoreDirty" [error]="passwordFormError.newPassword"></bs-text-input>
            <bs-text-input formControlName="newPassword2" [fc]="passwordForm.get('newPassword2')" [type]="'password'" [label]="'确认新密码:'" [dirty]="ignoreDirty" [error]="passwordFormError.newPassword2"></bs-text-input>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                </div>
            </div>
        </form>
