<div class="container-fluid mainbox">
    <div class="row justify-content-center mt-4">

        <div class="col-2">
            <div class="card" style="width: 10rem;">

                <div class="card-body">
                    <h4 class="card-title">帐号设置</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <a routerLink="/info/basic" routerLinkActive="list-group-item-secondary" class="list-group-item list-group-item-action ">基本信息</a>
                    <a routerLink="/info/password" routerLinkActive="list-group-item-secondary" class="list-group-item list-group-item-action">修改密码</a>
                    <a routerLink="/info/address" routerLinkActive="list-group-item-secondary" class="list-group-item list-group-item-action">收货地址</a>
                    <a routerLink="/info/test" routerLinkActive="list-group-item-secondary" class="list-group-item list-group-item-action">组件测试</a>
                </ul>

            </div>
        </div>



        <div class="col-10 col-lg-8">

            <router-outlet></router-outlet>

        </div>

    </div>


    <simple-notifications></simple-notifications>
</div>
