

        <H2 class="mb-4"> 收货地址
            <button type="button" class="btn btn-outline-info btn-sm float-right" (click)="showForm(true)">新建</button>
        </H2>


        <form [formGroup]="userAddressForm" (ngSubmit)="userAddressFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-text-input formControlName="contactPerson" [fc]="userAddressForm.get('contactPerson')" [type]="'text'" [label]="'收货人:'" [dirty]="ignoreDirty" [error]="userAddressFormError.contactPerson"></bs-text-input>

            <bs-address formControlName ="addressObj" [fc]="userAddressForm.get('addressObj')" [label]="'所在地区:'"  [error]="userAddressFormError.addressObj"></bs-address>

            <bs-text-input formControlName="detailAddress" [fc]="userAddressForm.get('detailAddress')" [type]="'text'" [label]="'详细地址:'" [dirty]="ignoreDirty" [error]="userAddressFormError.detailAddress"></bs-text-input>
            <bs-text-input formControlName="postalCode" [fc]="userAddressForm.get('postalCode')" [type]="'text'" [label]="'邮政编码:'" [dirty]="ignoreDirty" [error]="userAddressFormError.postalCode"></bs-text-input>

            <bs-text-input formControlName="contactPersonMobilePhone" [fc]="userAddressForm.get('contactPersonMobilePhone')" [type]="'text'" [label]="'手机号:'" [dirty]="ignoreDirty" [error]="userAddressFormError.contactPersonMobilePhone"></bs-text-input>
            <bs-text-input formControlName="contactPersonFixedPhone" [fc]="userAddressForm.get('contactPersonFixedPhone')" [type]="'text'" [label]="'固定电话:'" [dirty]="ignoreDirty" [error]="userAddressFormError.contactPersonFixedPhone"></bs-text-input>
            <bs-text-input formControlName="contactPersonEmail" [fc]="userAddressForm.get('contactPersonEmail')" [type]="'text'" [label]="'邮箱:'" [dirty]="ignoreDirty" [error]="userAddressFormError.contactPersonEmail"></bs-text-input>
            <bs-text-input formControlName="addressCodeName" [fc]="userAddressForm.get('addressCodeName')" [type]="'text'" [label]="'地址别名:'" [dirty]="ignoreDirty" [error]="userAddressFormError.addressCodeName"></bs-text-input>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>





        <table class="table table-bordered table-hover table-responsive" *ngIf="!isShowForm">
            <thead>
                <tr>
                    <th>收货人</th>
                    <th>所在地区</th>
                    <th>详细地址</th>
                    <th>邮编</th>
                    <th>手机/电话</th>
                    <th>电子邮箱</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addressList">
                    <td> {{address.contactPerson}}</td>
                    <td> {{address.province}} {{address.city}} {{address.district}}</td>
                    <td> {{address.detailAddress}}</td>
                    <td> {{address.postalCode}}</td>
                    <td> {{address.contactPersonMobilePhone}} / {{address.contactPersonFixedPhone}}</td>
                    <td> {{address.contactPersonEmail}}</td>
                    <td> <button class="btn btn-info btn-sm" (click)="showForm(false, address)"> 修改 </button></td>
                </tr>
            </tbody>
        </table>

        <bs-pagination [collectionSize]="pagination.total" [pageSize]="pagination.pageSize" [(page)]="pagination.pageNo" (pageChange)="getUserAddress()"></bs-pagination>
