/* VENDOR - Default fall-backs and external files.
========================================================================== */

//@import '../base/_normalize.scss';



/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */


@import "../helpers/_variables";
@import "../helpers/_mixins";

@import "../base/_typography";

//@import "../helpers/_auto_sprite";




/* FRAMEWORK - Structure and layout files.
========================================================================== */



//@import "../layout/_header";
//@import "../layout/_leftmenu";

//@import "../components/_angularLoading";


@import "../components/eyee/_eyeeReset";
@import "../components/eyee/_eyeeGlobal";
@import "../components/eyee/_eyeeAritcle";




body {
  font: 16px "EYEE_BASE_FONT", "Helvetica Neue", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background-color: $color-bg-body;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  cursor: default;

  -webkit-overflow-scrolling:touch;

}

