@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(./Roboto-Italic.ttf) format('truetype'), url(./Roboto-Italic.woff2) format('woff2'), url(./Roboto-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(./Roboto-Light.ttf) format('truetype'), url(./Roboto-Light.woff2) format('woff2'), url(./Roboto-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./Roboto.eot);
  src: local('Roboto'), local('Roboto-Regular'), url(./Roboto.ttf) format('truetype'), url(./Roboto.woff2) format('woff2'), url(./Roboto.svg#Roboto) format('svg'), url(./Roboto.eot?#iefix) format('embedded-opentype'), url(./Roboto.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(./Roboto-Medium.ttf) format('truetype'), url(./Roboto-Medium.woff2) format('woff2'), url(./Roboto-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(./Roboto-Bold.ttf) format('truetype'), url(./Roboto-Bold.woff2) format('woff2'), url(./Roboto-Bold.woff) format('woff');
}

