<template>

  <div class="loading">
    <van-list :loading="loading" :finished="finished" :immediate-check="immediateCheck" @load="onLoad" v-on:input="loadingChange($event)">
      <slot></slot>

      <template slot="loading">
        <p class='load-more' v-show="!finished"><span>努力加载中</span></p>
      </template>


      <template>
        <p class='no-more' v-show="finished">没有更多了~</p>
      </template>

    </van-list>
  </div>

</template>

<script>
  export default {
    name : "eyee-list",


    data: function () {
      return {
        immediateCheck : true
      }
    },


    model: {
      prop: 'loading'
    },


    props: {
      loading: Boolean,
      finished: Boolean
    },

    mounted() {
      // console.log('Prop "loading" mounted, value : ', this.loading)
    },

    methods: {
      onLoad() {
        // console.log('van-list onload : ', this.loading)
        this.$emit('load');
      },

      loadingChange (event) {
        // console.log(' "loading" changed, value : ', event)
        this.$emit('input', true);
      }
    }

  }
</script>

