


        <H2 class="mb-4"> 修改密码 </H2>

        <form [formGroup]="passwordFormStep1" (keydown.enter)="$event.preventDefault()" *ngIf="step === 'step1'">

            <div class="form-group row">
                <label class="col-2 col-form-label">手机号:</label>
                <div class="col-6">
                    <input type="text" readonly class="form-control-plaintext form-input-readonly" value="{{currentUser?.mobilePhone}}">
                </div>
            </div>

            <bs-text-input formControlName="captcha" [fc]="passwordFormStep1.get('captcha')" [type]="'text'" [label]="'图片验证码:'" [additionalContent]="true" [dirty]="ignoreDirty" [error]="passwordFormStep1Error.captcha || (passwordFormStep1.get('captcha').hasError('wrong') ? passwordFormValidationMessages.captcha.wrong : '') ">
                <img [src]="imageSrcCaptcha"  class="img-fluid" (click)="changeCaptchaImage($event)" >
            </bs-text-input>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" (click)="passwordFormStep1Submit()">发送短信验证码</button>
                </div>
            </div>
        </form>




        <form [formGroup]="passwordFormStep2" (keydown.enter)="$event.preventDefault()" *ngIf="step === 'step2'">

            <div class="form-group row">
                <label class="col-2 col-form-label">手机号:</label>
                <div class="col-6">
                    <input type="text" formControlName="mobilePhone" readonly class="form-control-plaintext form-input-readonly">
                </div>
            </div>

            <bs-text-input formControlName="smsCode" [fc]="passwordFormStep2.get('smsCode')" [type]="'text'" [label]="'短信验证码:'" [hint]="'校验码已发送至你的手机，请查收!'" [additionalContent]="true" [dirty]="ignoreDirty" [error]="passwordFormStep2Error.smsCode || (passwordFormStep2.get('smsCode').hasError('wrong') ? passwordFormValidationMessages.smsCode.wrong : '') " >
                <button type="submit" class="btn btn-outline-info" [disabled]="sendSMSTimer" (click)="passwordFormStep1Submit()"  >
                    <span *ngIf="sendSMSFirstTime">发送短信验证码</span>
                    <span *ngIf="!sendSMSFirstTime">{{ sendSMSTimer ? sendSMSTimer + 's后重新发送验证码' : '获取短信验证码' }}</span>
                </button>
            </bs-text-input>


            <bs-text-input formControlName="oldPassword" [fc]="passwordFormStep2.get('oldPassword')" [type]="'text'" [label]="'原密码:'" [dirty]="ignoreDirty" [error]="passwordFormStep2Error.oldPassword"></bs-text-input>
            <bs-text-input formControlName="newPassword" [fc]="passwordFormStep2.get('newPassword')" [type]="'password'" [label]="'新密码:'" [passwordTip]="true" [dirty]="ignoreDirty" [error]="passwordFormStep2Error.newPassword"></bs-text-input>
            <bs-text-input formControlName="newPassword2" [fc]="passwordFormStep2.get('newPassword2')" [type]="'password'" [label]="'确认新密码:'" [dirty]="ignoreDirty" [error]="passwordFormStep2Error.newPassword2"></bs-text-input>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" (click)="passwordFormStep2Submit()">保存</button>
                </div>
            </div>
        </form>
