@import "../helpers/_variables";


@font-face{
  font-family: EYEE_BASE_FONT;
  /* src: url('https://files.eyee.com/eyeeh5/font/SF-Light.otf'); */
  src: url('#{$assetPath}/css/fonts/eyee/SF-Light.otf');
}


@font-face{
  font-family: EYEE_PRICE_FONT;
  /* src: url('https://files.eyee.com/eyeeh5/font/DINOT-CondBlack.otf'); */
  src: url('#{$assetPath}/css/fonts/eyee/DINOT-CondBlack.otf');
}
