

.loading {
  .no-more{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ccc;
  }

  .load-more {
    padding: 10px 0px;
    width: 100%;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
  }

  .load-more > span{
    display: inline-block;
    overflow: hidden;
    height: 1.3em;
    line-height: 1.5em;
    vertical-align: text-bottom;
  }
  .load-more > span::before, .load-more > span::after{
    content: " 🚶\A🏃";
    display: inline-table;
    white-space: pre;
    text-align: left;
    width: 1.3em;
    animation: runner .8s steps(2) infinite;
  }
}

@keyframes runner  { to { transform: translateY( -3em); } }





[class*=" ico-"],[class^=ico-]{
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: bottom;

  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}



.ico-read-nums{
  width: 17px;
  height: 12px;

  margin-right: 3px;
  margin-left: 3px;

  background-image: url('//files.eyee.com/mcdn/static/img/read_icon.png');
}

.ico-read-white{
  @extend .ico-read-nums;
  background-image: url('//files.eyee.com/mcdn/static/img/read_icon_white.png');
}
