

.eyee-list-single1 {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content:flex-start;
  align-items : flex-start;


  //@include box-border2($color-border-article-list1);


  padding : 4px 4px 4px 4px;


  .left-box {
    flex : 0 0 130px;

    .picture-box {
      width: 130px;
      height: 96px;

      @include flex-image;
    }

  }

  .right-box {

    flex : 1 200px;
    padding : 3px 0 0 8px;

    .title {
      color : $color-title-article-list1;

      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px;
      line-height: 18px;
      height: 54px;

      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      white-space: normal;
    }


    .category {
      font-size: 12px;
      color: $color-text-category-article-list1;
      line-height: 12px;
      height: 12px;

      margin-top: 10px;
      margin-bottom: 2px;
    }

    .other-info {
      @extend .category;

      margin-top: 0px;
    }

    .publish-time {

    }

    .statistic {

    }
  }






}

