<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<body>

<div class="container-fluid">

  <div class="row">

    <div class="col">

      <ul class="list-group">
        <li class="list-group-item"> <a href="/static/indexMobileSite.html"> index h5 移动网站首页</a></li>
        <li class="list-group-item"> <a href="/static/indexqq.html"> index 手机QQ 合作网站首页</a></li>
      </ul>

      <div id="app2">
        <div>hello</div>
        <div>{{ text }}</div>

        <button id="b1" class="btn"> click me </button>
      </div>

    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>



<script type="text/javascript">

  let data = { text: 'world22' };


  let val = data.text;

  Reflect.defineProperty(data, 'text', {
    get () {
      console.log('get: ', val)
      return val
    },

    set (newVal) {
      console.log('set: ', newVal)
      val = newVal
    }
  })








  function textToExp (text) {
    let pieces = text.split(/({{.+?}})/g);
    pieces = pieces.map(piece => {
      if (piece.match(/{{.+?}}/g)) { // {{}}内的代码，以js表达式输出
        piece = '(' + piece.replace(/^{{|}}$/g, '') + ')';
      } else { // {{}}外的代码，以字符串输出
        piece = '`' + piece.replace(/`/g, '\\`') + '`'; // 需要对字符串中的`转义
      }
      return piece;
    });
    return pieces.join('+');
  }

  function expToFunc (exp, scope) {
    // 把数据源绑定到函数的this，函数内部加上with(this){}，这样函数内的变量访问的就是数据源上的key
    return new Function('with(this){return ' + exp + '}').bind(scope);
  }


  function compileText (node, scope) { // 结合 textToExp 和 expToFunc 来完成文本编译
    let exp = textToExp(node.textContent);
    // node.textContent = expToFunc(exp, scope)();

    // Watcher绑定时会先编译一次，所以这里不需要再手动修改node.textContent
    new Watcher(exp, scope, newVal => {
      node.textContent = newVal;
    });

  }




  function walkChildren (el, scope) {
    // el.childNodes获取到的是NodeList对象，先把它转化Array
    [].slice.call(el.childNodes).forEach(node => {
      if (node.nodeType === 3) { // 对文本节点编译并替换文本内容
        compileText(node, scope);
      } else if (node.nodeType === 1) { // 对元素节点则继续遍历
        walkChildren(node, scope);
      }
    });
  }







  class Dep {

    constructor () {
      this.subs = new Set();
    }
    addSub (sub) { // 添加订阅者，因为用了Set，所以这里可以保证添加进来的订阅者不会重复
      this.subs.add(sub);
    }
    removeSub (sub) { // 删除订阅者
      this.subs.delete(sub);
    }
    notify () { // 通知所有订阅者（调用每个订阅者的update方法）
      for (let sub of this.subs) {
        sub.update();
      }
    }
  }

  Dep.target = null

  function observe (data) { // 监听对象
    if (Object.prototype.toString.call(data) === '[object Object]') { // 确保监听对象是Object
      for (let prop in data) {
        defineReactive(data, prop, data[prop]);
      }
    }
  }


  function defineReactive (obj, key, val) { // 对对象的key进行监听

    const dep = new Dep();
    Reflect.defineProperty(obj, key, {
      enumerable: true,
      configurable: true,
      get () {
        // 如果target指向了Watcher，就把这个Watcher添加到Dep
        // Dep的addSub是一个Set，所以不会把一个相同的Watcher添加多次
        Dep.target && dep.addSub(Dep.target);
        return val;
      },
      set (newVal) {
        if (newVal === val) return;
        val = newVal;
        observe(newVal); // 监听新的键值

        dep.notify() // 当key变化时通知该容器下的所有订阅者
      }
    });
    observe(val); // 递归监听对象的键值
  }





  class Watcher {
    constructor (exp, scope, callback) {
      this.value = null; // 存放当前编译结果
      this.getValue = expToFunc(exp, scope); // 生成编译结果的函数
      this.callback = callback;
      this.update(); // 绑定时需要编译一次
    }
    get () {
      Dep.target = this; // 编译前把target指向当前Watcher实例
      let value = this.getValue(); // 这个编译过程中会触发关联的key的getter
      Dep.target = null; // 编译后把target重置
      return value;
    }
    update () {
      let newVal = this.get();  // 获取最新编译结果
      if (this.value !== newVal) { // 如果最新编译结果和当前的不一样，则调用callback更新DOM
        this.value = newVal;
        this.callback && this.callback(newVal);
      }
    }
  }


  class Vue {
    constructor (options) {
      this.$data = options.data;
      this.$el = document.querySelector(options.el);
      observe(this.$data);
      walkChildren(this.$el, this.$data);
    }
  }


  var vm = new Vue ({
    data : { text: 'world22' },
    el : '#app2'
  })



  var buttonEl = document.getElementById('b1')
  buttonEl.addEventListener('click', function(){
    vm.$data.text =  vm.$data.text + 'coole1'
  })


</script>
</html>
