<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss" src="@css/scss/page/global.scss"></style>
<style lang="scss" src="@css/scss/page/indexMobileSite.scss"></style>
