<!DOCTYPE html >
<html lang="zh-cmn-Hans">

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta name="renderer" content="webkit"> <!--360浏览器就会在读取到这个标签后，立即切换对应的内核。并将这个行为应用于这个二级域名下所有网址。-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom meta tags -->
    <meta name="keywords" content="易煤网">
    <meta name="description" content="易煤网">
    <meta name="author" content="JinWYP">


    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<link type="image/x-icon" rel="shortcut icon" href="<%= staticPath %>/images/favicon.ico" />-->


    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">-->

    <!-- Web site css -->
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/global.css">
    <link rel="stylesheet" href="<%= staticPath %>/css/stylesheets/page/admin.css">


    <title> 管理首页 </title>

    <base href="/web/admin">

</head>


<body>


    <app-admin-home>

        <!-- selector from app.component.ts -->

        <!-- loading layout replaced by app after startupp -->
        <div class="app-loading">
            <div class="logo"></div>
            <svg class="spinner" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>


    </app-admin-home>














<!-- jQuery first, then Tether, then Bootstrap JS. -->
<!--<script type="text/javascript" src="<%= staticPath %>/js/jquery3/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="<%= staticPath %>/js/popper.js/dist/umd/popper.min.js"></script>-->
<!--<script type="text/javascript" src="<%= staticPath %>/js/bootstrap4/bootstrap.min.js"></script>-->

<script type="text/javascript" src="<%= staticPath %>/js/manifest.bundle.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/polyfills.bundle.js"></script>
<script type="text/javascript" src="<%= staticPath %>/js/vendor.bundle.js"></script>



<script type="text/javascript" src="<%= staticPath %>/js/adminHome.bundle.js"></script>

</body>

</html>

