

<div class="container-fluid main-admin-box">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-theme_angel">

        <a class="navbar-brand" href="/web/admin">
            <img alt="logo" src="/static/css/images/logo_angel.png">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" >

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link menu" (click)="toggleLeftMenu()"> <i class="fa fa-navicon" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu" routerLink="/info/basic"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                </li>
            </ul>


            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a class="nav-link menu" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>

        </div>
    </nav>








    <div class="aside" [class.aside-collapsed]="isLeftMenuCollapsed">

        <div class="card" [class.active] = "currentMenu===1">

            <a data-toggle="collapse" href="#collapse1" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 1)" (mouseenter)="mouseEnterMenu($event, 1)">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="ml-2">Dashboard</span>
            </a>

            <div class="collapse" [class.show]="menuList[1]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===1" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a (click)="clickSubMenu(11)">Dashboard v1</a> </li>
                </ul>
            </div>

        </div>


        <div class="card" [class.active] = "currentMenu===2">

            <a data-toggle="collapse" href="#collapse2" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 2)" (mouseenter)="mouseEnterMenu($event, 2)">
                <!--<div class="float-right badge badge-info">3</div>-->
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="ml-2">当前用户管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[2]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===2" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/info/basic" (click)="clickSubMenu(21)">基本信息</a> </li>
                    <li routerLinkActive="active"> <a routerLink="/info/password" (click)="clickSubMenu(22)">修改密码</a> </li>
                </ul>
            </div>
        </div>


        <div class="card" [class.active] = "currentMenu===3">

            <a data-toggle="collapse" href="#collapse3" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 3)" (mouseenter)="mouseEnterMenu($event, 3)">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="ml-2">用户管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[3]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===3" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/users" (click)="clickSubMenu(31)">用户管理</a> </li>
                </ul>
            </div>
        </div>


        <div class="card" [class.active] = "currentMenu===4">

            <a data-toggle="collapse" href="#collapse4" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 4)" (mouseenter)="mouseEnterMenu($event, 4)">
                <i class="fa fa-jpy" aria-hidden="true"></i>
                <span class="ml-2">订单管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[4]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===4" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/orders" (click)="clickSubMenu(41)">订单管理</a> </li>
                </ul>
            </div>
        </div>

    </div>







    <div class="right-content-box">
        <div class="row justify-content-center mt-2 ml-4 mr-4">
            <div class="col-12">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>




    <simple-notifications></simple-notifications>

</div>
















