


        <H2 class="mb-4"> 组件测试页面 - {{currentUser?.username}}</H2>

        <form [formGroup]="userInfoForm" (ngSubmit)="userInfoFormSubmit()" (keydown.enter)="$event.preventDefault()">


            <bs-text-input formControlName="lastName" [fc]="userInfoForm.get('lastName')" [type]="'text'" [label]="'姓:'" [dirty]="ignoreDirty" [error]="userInfoFormError.lastName"></bs-text-input>
            <bs-text-input formControlName="firstName" [fc]="userInfoForm.get('firstName')" [type]="'text'" [label]="'名字:'" [dirty]="ignoreDirty" [error]="userInfoFormError.firstName"></bs-text-input>
            <bs-text-input formControlName="nickname" [fc]="userInfoForm.get('nickname')" [type]="'text'" [label]="'昵称:'" [dirty]="ignoreDirty" [error]="userInfoFormError.nickname"></bs-text-input>

            <bs-select formControlName ="gender" [fc]="userInfoForm.get('gender')" [label]="'性别:'" [editable]="true" [options]="genderDataList" [error]="userInfoFormError.gender" ></bs-select>

            <bs-datepicker formControlName="birthday" [fc]="userInfoForm.get('birthday')" [label]="'生日:'" [error]="userInfoFormError.birthday"></bs-datepicker>
            <bs-radio formControlName ="marriage" [fc]="userInfoForm.get('marriage')" [label]="'婚姻状况:'" [sourceList]="marryDataList" [error]="userInfoFormError.marriage" ></bs-radio>


            <bs-checkbox formControlName ="interest" [fc]="userInfoForm.get('interest')" [label]="'兴趣:'" [key]="'id'" [options]="interestDataList" [error]="userInfoFormError.interest" ></bs-checkbox>
            <bs-multi-select formControlName ="family" [fc]="userInfoForm.get('family')" [label]="'家庭成员:'" [editable]="true" [options]="familyDataList" [error]="userInfoFormError.family" ></bs-multi-select>

            <!--{{userInfoForm.get('family').value | json}}-->

<!--let order of orderList

            <div formGroupName="birthday">
                <bs-text-input formControlName="year" [fc]="userInfoForm.get('birthday.year')" [type]="'text'" [label]="'年:'" [dirty]="ignoreDirty" [error]="userInfoFormError.birthday?.year"></bs-text-input>
                <bs-text-input formControlName="month" [fc]="userInfoForm.get('birthday.month')" [type]="'text'" [label]="'月:'" [dirty]="ignoreDirty" [error]="userInfoFormError.birthday?.month"></bs-text-input>
                <bs-text-input formControlName="day" [fc]="userInfoForm.get('birthday.day')" [type]="'text'" [label]="'日:'" [dirty]="ignoreDirty" [error]="userInfoFormError.birthday?.day"></bs-text-input>
            </div>
-->



            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-1" > <p *ngFor=" let item of payList"> {{item}} </p></div>
            <div class="col-2" > <p *ngFor=" let item of returnList"> {{item}} </p></div>
            <div class="col-6" > <p *ngFor=" let item of resultList">
                位置: {{item.payIndex }}--{{item.returnIndex }}
                金额: {{payList[item.payIndex - 1] || '无'}}--{{returnList[item.returnIndex - 1 ] || '无' }}
                差额: {{ item.balance }}
                对比: {{item.payAmount }}--{{item.returnAmount}}</p></div>
        </div>
