

        <h3>
            用户管理
            <button type="button" class="btn btn-outline-info btn-sm float-right" *ngIf="!isShowForm" (click)="showForm(true)">添加新用户</button>
        </h3>


        <form [formGroup]="userForm" (ngSubmit)="userFormSubmit()" (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <bs-text-input formControlName="phone" [fc]="userForm.get('phone')" [type]="'text'" [label]="'手机号:'" [readOnly]="!isAddNew" [dirty]="ignoreDirty" [error]="userFormError.phone"></bs-text-input>
            <bs-text-input formControlName ="password" [fc]="userForm.get('password')" [type]="'text'" [label]="'密码:'" [dirty]="ignoreDirty" [error]="userFormError.password"></bs-text-input>

            <bs-select formControlName ="deptId" [options]="departmentList" [label]="'部门:'" [error]="userFormError.deptId"></bs-select>
            <bs-radio formControlName ="isAdmin" [sourceList]="dataIsAdmin" [label]="'是否为管理员:'" [error]="userFormError.isAdmin"></bs-radio>
            <bs-radio formControlName ="isActive" [sourceList]="dataIsAdmin" [label]="'是否禁用:'" [error]="userFormError.isActive"></bs-radio>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="submit" class="btn btn-info" >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>





        <table class="table table-bordered table-hover table-responsive" *ngIf="!isShowForm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>手机号</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>是否为管理员</th>
                    <th>是否禁用</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; trackBy: trackByFn">
                    <td> {{user.id}}</td>
                    <td> {{user.phone}}</td>
                    <td> {{user.createDate}}</td>
                    <td> {{user.createBy}}</td>
                    <td> {{user.isAdmin === 2 ? '是' : '否'}} </td>
                    <td> {{user.isActive === 2 ? '是' : '否'}}</td>
                    <td> <button class="btn btn-info btn-sm" (click)="showForm(false, user)"> 修改 </button></td>
                </tr>
            </tbody>
        </table>

        <bs-pagination [collectionSize]="pagination.total" [pageSize]="pagination.pageSize" [(page)]="pagination.pageNo" (pageChange)="getUserInfoList()"></bs-pagination>
