<template>

  <div>

    <van-nav-bar
      title="标题"
      left-text="返回"
      right-text="按钮"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    />


    <eyee-list v-model="css.listLoading" :finished="css.listFinished" @load="getArticles">

      <template v-for="(item, index) in articleList">
        <new-style1  :key="index" :item="item"></new-style1>
      </template>

    </eyee-list>



  </div>

</template>

<script>

  import { getArticleSearch } from '@js/services/article.service'
  import newStyle1 from './singleElement/newSingleStyle1'

  export default {
    name : "news-homepage",

    components : {
      newStyle1,
    },

    data() {
      return {
        css : {
          listLoading: false,
          listFinished: false,
        },

        postQuery : {
          pageindex : 1,
          sorttype : 0
        },

        articleList : [],
        brandList : [],
        stockxList : [],


      };
    },

    mounted: function() {
      // this.getArticles()
    },

    methods: {

      getArticles : function () {
        getArticleSearch(this.postQuery).then( (result )=> {
          console.log("result:", result)

          this.postQuery.pageindex++

          if (result.article && result.article.list) {
            this.articleList = this.articleList.concat(result.article.list)
          }

          if (result.brandlib && result.brandlib.length > 0) {
            this.brandList = result.brandlib
          }

          if (result.stockx && result.stockx.length > 0) {
            this.stockxList = result.stockx
          }

          this.css.listLoading = false


          if (result.article.pageindex * result.article.pagesize >= result.article.sumcount) {
            this.css.listFinished = true
          }


        })
      },



      onClickLeft() {
        Toast('返回');
      },
      onClickRight() {
        Toast('按钮');
      }
    }
  }
</script>

