

        <h3>
            订单管理
            <button type="button" class="btn btn-outline-info btn-sm float-right" *ngIf="!isShowForm" (click)="showForm(true)">添加</button>
        </h3>


        <form [formGroup]="orderForm"  (keydown.enter)="$event.preventDefault()" *ngIf="isShowForm">

            <div class="form-row ">
                <div class="col">
                    <bs-select formControlName ="deptId" [fc]="orderForm.get('deptId')" [label]="'事业部门:'" [labelclass]="'col-4'" [options]="departmentList" [error]="orderFormError.deptId" (change)="filterTeams($event)" ></bs-select>
                </div>
                <div class="col">
                    <bs-select formControlName ="teamId" [fc]="orderForm.get('teamId')" [label]="'团队:'" [labelclass]="'col-4'" [options]="filterTeamList" [error]="orderFormError.teamId"></bs-select>
                </div>
            </div>

            <div class="form-row ">
                <div class="col">
                    <bs-select formControlName ="upstreamSettleMode" [fc]="orderForm.get('upstreamSettleMode')" [label]="'上游结算方式:'" [labelclass]="'col-4'" [options]="payModeList" [error]="orderFormError.upstreamSettleMode"></bs-select>
                </div>
                <div class="col">
                    <bs-select formControlName ="downstreamSettleMode" [fc]="orderForm.get('downstreamSettleMode')" [label]="'下游结算方式:'" [labelclass]="'col-4'" [options]="payModeList" [error]="orderFormError.downstreamSettleMode"></bs-select>
                </div>
            </div>

            <bs-text-input formControlName="line" [fc]="orderForm.get('line')" [type]="'text'" [label]="'业务线名称:'" [readOnly]="true" [dirty]="ignoreDirty" [error]="orderFormError.line"></bs-text-input>
            <bs-select formControlName ="cargoType" [fc]="orderForm.get('cargoType')" [label]="'货物种类:'" [options]="cargoTypeList" [error]="orderFormError.cargoType"></bs-select>

            <bs-select formControlName ="mainAccounting" [fc]="orderForm.get('mainAccounting')" [label]="'主账务公司:'" [options]="partyList" [error]="orderFormError.mainAccounting" (change)="lineName()"></bs-select>
            <bs-select formControlName ="upstreamId" [fc]="orderForm.get('upstreamId')" [label]="'上游供应商:'" [options]="partyList" [error]="orderFormError.upstreamId" (change)="lineName()"></bs-select>
            <bs-select formControlName ="downstreamId" [fc]="orderForm.get('downstreamId')" [label]="'下游客户:'" [options]="partyList" [error]="orderFormError.downstreamId" (change)="lineName()"></bs-select>


            <div class="form-group row">
                <label class="col-2 col-form-label" >其他参与方:</label>

                <div class="col-8">

                    <form [formGroup]="orderOtherPartyForm"  (keydown.enter)="$event.preventDefault()">

                        <div class="form-row ">
                            <div class="col-8" >

                                <ul class="list-group" >
                                    <li class="list-group-item mb-2" *ngFor=" let company of otherPartyList">
                                        {{company.custType | findKey:customerType:'name'}}:  {{company.customerId| findKey:partyList:'name'}} ({{company.customerId| findKey:partyList:'shortName'}})
                                        <button type="button" class="ml-4 btn btn-outline-danger btn-sm" (click)="delOtherParty(company)"> x </button>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="form-row ">
                            <div class="col-4">
                                <bs-select formControlName ="custType" [fc]="orderOtherPartyForm.get('custType')" [labelclass]="'col-0'" [inputclass]="'col-12'" [prompt]="'请选择客户类型:'" [options]="customerType" [error]="orderOtherPartyFormError.custType"></bs-select>
                            </div>
                            <div class="col-4">
                                <bs-select formControlName ="customerId" [fc]="orderOtherPartyForm.get('customerId')" [labelclass]="'col-0'" [inputclass]="'col-12'" [prompt]="'请选择其他公司:'" [options]="partyList" [error]="orderOtherPartyFormError.customerId"></bs-select>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-info" (click)="createNewOtherParty()">添加</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-10 ml-auto">
                    <button type="button" class="btn btn-info " (click)="orderFormSubmit()"  >保存</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)" >返回</button>
                </div>
            </div>
        </form>







        <div *ngIf="!isShowForm">

            <form [formGroup]="orderSearchForm"  (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName ="teamId" [fc]="orderSearchForm.get('teamId')" [label]="'团队:'"  [options]="teamList" [addAllOptions]="true"  ></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName ="mainAccounting" [fc]="orderSearchForm.get('mainAccounting')" [label]="'主账务公司:'" [options]="partyList" [addAllOptions]="true"></bs-select>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-3">
                        <bs-datepicker formControlName="createDateStart" [fc]="orderSearchForm.get('createDateStart')" [label]="'创建时间:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                    </div>
                    <div class="col-3">
                        <bs-datepicker formControlName="createDateEnd" [fc]="orderSearchForm.get('createDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>
                    </div>
                    <div class="col-6">
                        <bs-select formControlName ="status" [fc]="orderSearchForm.get('status')" [label]="'状态:'" [options]="orderStatusList" [addAllOptions]="true"></bs-select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getOrderList()"  >查询</button>
                    </div>
                </div>
            </form>


            <table class="table table-bordered table-hover table-responsive" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>业务线</th>
                    <th>事业部门</th>
                    <th>业务团队</th>

                    <th>货物种类</th>
                    <th>账务公司</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orderList; trackBy: trackByFn">
                    <td> <a class="btn btn-link btn-sm" [routerLink]="['/orders', order.id]" role="button"> {{order.id}}</a></td>
                    <td> {{order.line}}</td>
                    <td> {{order.deptId | findKey : departmentList : 'name'}}</td>
                    <td> {{order.teamId | findKey : teamList : 'name'}}</td>

                    <td> {{order.cargoType | findKey : cargoTypeList : 'name'}}</td>
                    <td> {{order.mainAccounting  }}</td>
                    <td> {{order.status}}</td>
                    <td> {{order.tsc }}</td>
                    <td>
                        <a class="btn btn-link btn-sm" [routerLink]="['/orders', order.id]" role="button">查看</a>
                        <button class="btn btn-link btn-sm" (click)="showForm(false, order)"> 修改 </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <bs-pagination [collectionSize]="pagination.total" [pageSize]="pagination.pageSize" [(page)]="pagination.pageNo" (pageChange)="getOrderList($event)"></bs-pagination>

        </div>

